<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= h(@resume.title) %> | Band Resume</title>

  <!-- OGP -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= h(@resume.title) %>のハルカミライ履歴書" />
  <meta property="og:image" content="https://bandresume.s3.ap-northeast-1.amazonaws.com/profile_images/default_ogp.jpg" />
  <meta property="og:url" content="https://band-resume.onrender.com/ogp/resumes/<%= @resume.id %>" />

  <!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="<%= h(@resume.title) %>のハルカミライ履歴書" />
  <meta name="twitter:image" content="https://bandresume.s3.ap-northeast-1.amazonaws.com/profile_images/default_ogp.jpg" />

  <meta http-equiv="refresh" content="1;url=https://band-resume.vercel.app/resumes/<%= @resume.id %>">
</head>
<body>
  <p>ページを移動します。<a href="https://band-resume.vercel.app/resumes/<%= @resume.id %>">こちらをクリック</a></p>
</body>
</html>
